* {
    box-sizing: border-box;
}

.all {
    max-width: 640px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border-style: solid none;
    padding: 10px 0;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    border: none;
    border-left: 5px solid royalblue;
    background-color: whitesmoke;
    font-size: 1em;
    padding: 20px 30px;
    text-align: left;
    cursor: pointer;
}

button:hover {
    background-color: silver;
}
